---
import Layout from "../layouts/Layout.astro";

import "../styles/styles.css";
import "@fontsource/plus-jakarta-sans";

import Header from "../components/Header";
import HeroSection from "../components/HeroSection";
import Content from "../components/Content";
import Footer from "../components/Footer";
---

<Layout title="Skilled e-Learning">
  <main>
    <Header />
    <HeroSection />
    <Content />
    <Footer />
  </main>
</Layout>
