---
import Layout from "../layouts/Layout.astro";

import "../styles/styles.css";
import "@fontsource/plus-jakarta-sans";

import Header from "../components/Header";
import Section from "../components/Section";
---

<Layout title="Skilled e-Learning">
  <main>
    <Header />
		<Section />
  </main>
</Layout>
